.success-message {
    color: #007f00;
}

.error-message {
    color: #c00000;
}

.field-error {
    background-color: #ff7f7f;
}

table, th, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
}

th {
    text-align: start;
}
