<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body>
<main class="container">
    <div th:fragment="alerts">
        <ul class="alert alert-success" th:if="${successMessage}">
            <li th:text="${successMessage}"></li>
        </ul>
        <ul class="alert alert-danger" th:if="${errorMessage}">
            <li th:text="${errorMessage}"></li>
        </ul>
    </div>
</main>
<footer th:replace="fragments/footer::footer"></footer>
</body>
</html>
